/* ******************************************CARGADOR****************************************** */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-size: 12px;
    background-color: lightyellow;
    display: flex;
}


a{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#586775;
    text-shadow: whitesmoke 3px 0px;
    z-index: 1001;
    text-decoration: none;
    transition: 2s;
}

a:hover{
    font-size: 1.8rem;
    transition: 1s;
    color: #8d5c8e;
    text-shadow: whitesmoke 3px 0px;

}

/* CREAR LLAVES PARA ANIMAR LOS GIROS DEL CARGADOR */
@keyframes giro1{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes giro2{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* CAJA E HIJOS HICE 4 DIV PARA CADA GIRO Y DARLE ORIENTACION DE MOVIMIENTO */
.loader{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: none;
}

.loader div:nth-child(1){
    position: absolute;
    border: 20px solid transparent;
    border-top-color: #9CB4CC;
    border-right-color:#748DA6;
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    animation:giro1 2s linear infinite;
}

.loader div:nth-child(2){
    position: absolute;
    border: 20px solid transparent;
    border-bottom-color: #F2D7D9;
    border-left-color: #D3CEDF;
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    animation:giro2 1.7s linear infinite;
}
.loader div:nth-child(3){
    position: absolute;
    border: 20px solid transparent;
    border-top-color: #9CB4CC;
    border-right-color: #748DA6;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    animation:giro1 1.4s linear infinite ;
}
.loader div:nth-child(4){
    position: absolute;
    border: 20px solid transparent;
    border-bottom-color:#F2D7D9; 
    border-left-color:  #D3CEDF;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    animation:giro2 1.1s linear infinite;
}
